*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
    background-color: #2a3b56;
    

}

.parent-container>h1{
    color: #ffffff;
    margin-bottom: 24px;
}

.form-container {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(238, 234, 234, 0.1);
    width: 30vw;
    height:60vh;
    max-width: 400px;
    display:grid;

}

.form-container .form-group{
    display: flex;
    flex-direction:column;
    margin-bottom:4px;
    gap:2px;
}
.form-container .form-group input{ 
height:30px;
border:none;
outline:none;
border-bottom:1px solid gray;
font-size : 15px;
padding:5px;

}
.form-container .form-group label{
    font-size:20px;
    color:rgb(90, 90, 131);
    font-weight:600;
}
.form-container .form-group span{
color:red

}
    
.form-container #submit-btn{
    height: 35px;
    background-color:rgb(90, 90, 131);
    color:white;
    border-radius: 5px;
    font-size:20px;
    margin-top:10px;
}
