*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
    background-color: #2a3b56;

}

.parent-container>h1{
    color: #ffffff;
    margin-bottom: 24px;
}

.form-container {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(238, 234, 234, 0.1);
    width: 30vw;
    height:60vh;
    max-width: 400px;
    display:grid;

}

.form-container .form-group{
    display: flex;
    flex-direction:column;
}
.form-container .form-group input{ 
height:30px
}

.form-container #submit-btn{
    height: 35px;
}
